body {
    background-image: url('https://img.freepik.com/premium-vector/round-frame-simple-template-background_1159-26825.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
}